<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Room Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<a href="/home" class="btn btn-warning btn-lg ">Home</a>
<center>
  <h1>Rooms data</h1>
</center>
<br>
<table id="example" class="display " width="100%" cellspacing="0">
    <thead>
        <tr>
          <th>Room ID </th>
          <th>RoomType </th>
          <th>Guest Capacity </th>
          <th>Fare </th>
          <th>Rooms Currently Available </th>
        </tr>
    </thead>
    <tbody>
      <% for (var k in data){ %>
          <tr>
      <%   for(var i in data[k]){ %>
            <td><%=data[k][i]%></td>
        <%  }  %>
        </tr>

      <%    }  %>

    </tbody>

</table>
<br>
<center>
  <form class="" action="/room_data" method="post">
    <h3>Update data</h3>
    <br>
    <select   name="RoomID"  required>
        <option value="">Select Your Room type</option>
        <option value="1">Single Room      </option>
        <option value="2">Deluxe Room        </option>
        <option value="3">Super Deluxe Room  </option>
        <option value="4">Executive Suite    </option>
        <option value="5">Garden Suite      </option>
        <option value="6">President Suite    </option>
    </select>
    <br><br>
    <select   name="field"  required>
        <option value="">Select what to update</option>
        <option value="Fare"> Fare of room</option>
        <option value="Rooms_available">Rooms available</option>
    </select>
    <br>
    <br>
    <input type="number" name="value" value="" placeholder="Enter New Value" required>
    <br><br>
    <input type="submit" name="" value="Update">
  </form>
</center>

  </body>
</html>


<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>
