<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1>Congratulations <%=sess.name%>,
        <br> <br>
        Your Room is Sucessfully Booked
      <small>See you on <%=sess.booking.checkInDate%> at <%=sess.booking.checkInTime%></small></h1>

      <h2><a href="/home">HOME</a></h2>
      </center>

  </body>
</html>
